<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <i class="fa fa-video-camera"></i> <%= current_user.name %>'s Library
      </h1>
      <h2 class="subtitle">
        Download or manage your chosen courses below
      </h2>
    </div>
  </div>
</section>

  <% if @library_courses.exists? %>
    <div class="course-grid">
      <%= render @library_courses, course: @course %>
    </div>
  <% else %>
  <article class="message">
    <div class="message-body">You haven't added any courses to your library yet. <%= link_to 'Add some', root_path %>.</div>
  </article>
  <% end %>

</section>